/* mobile phones */
@media only screen and (max-width: 600px) {
  .game-container {
    width: 75%;
  }
}

/*tablets in portrait */
@media only screen and (min-width: 600px) {
  .game-container {
    width: 90%;
  }
}

/* for tablets in landscape */
@media only screen and (min-width: 768px) {
  .game-container {
    width: 85%;
  }
}

/* for laptops/desktops */
@media only screen and (min-width: 992px) {
  .game-container {
    width: 80%;
  }
}

/* for large desktops */
@media only screen and (min-width: 1200px) {
  .game-container {
    width: 75%;
  }
}


h1 {
  font-family: "Micro 5", sans-serif;

  margin-bottom: 0;
  justify-content: center;
  font-weight: bold;
  background: url('Images/e557dabea8d72220bbac53427f7524fd.gif') repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
}


p {
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 0.8em;
  color: #fe9acc;
  margin-top: 0;
}

.game-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  /* allow horizontal scrolling */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: fit-content;
  /* Let container grow with game divs */
  padding-bottom: 25vw;
}

.game-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Fills the entire container */
}

.game-in-view {
  transform: scale(1.05);
  /* Zoom in when centered */
}

.game {
  flex: 0 0 auto;
  width: 300px;
  height: 410px;
  margin: 1em 2em;
  padding: 0.5em;
  border: 0.001em solid #f8c9f1;
  border-radius: 0.5vw;
  text-align: center;
  scroll-snap-align: center;
  transition: transform 0.2s ease-in-out;
  position: relative;

}


.game h2 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

/* .game--first {
  order: -1;
} */

@keyframes animate {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.game img {
  max-width: 95%;
  margin: auto;
  display: block;
  margin-top: 2em;
  transition: transform 0.2s ease-in-out;
  position: absolute;
}

.game img:hover {
  opacity: 0;
}

.game video:hover {
  opacity: 1;
}

.game img,
.game video {
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  object-fit: cover;
}

.game video {
  max-width: 95%;
  margin: auto;
  display: block;
  margin-top: 2em;
  transition: transform 0.2s ease-in-out;
  /* Add smooth zoom effect */
  opacity: 0;
  position: absolute;
  transition: 0.3s;
}

a:link {
  color: #f79833;
  text-decoration: none;
}

a:visited {
  color: #c71585;
  text-decoration: none;
}

a:hover {
  color: #fab7d0;
  text-decoration: none;
}

a:active {
  color: #e86092;
  text-decoration: none;
}

.game .options {
  font-family: "Micro 5", sans-serif;
  transition: transform 0.2s ease-in-out;
  display: block;
  margin-top: 0%;
  /* Add smooth zoom effect*/

}

.game:hover {
  transform: scale(1.05);
  /* Zoom image on hover */
}

.game:hover .options {
  transform: scale(1.1);
  display: block;
}

/* Hide scrollbar for a cleaner look */
::-webkit-scrollbar {
  display: none;
}

/* this gives a continuous looping color animation and we can change the colors amazing */
/* button {
  animation: rainbow-animation 200ms linear infinite;
} */

@keyframes rainbow-animation {
  to {
    filter: hue-rotate(0deg);
  }

  from {
    filter: hue-rotate(360deg);
  }
}

@keyframes slideDown {
  0% {
    top: -100%;
  }

  80% {
    top: 25%;
  }

  /* 87%{
    top: 19%;
  }
  95%{
    top: 22%;
  } */
  100% {
    top: 20%;
  }
}

#loginPopup {
  width: auto;
  height: 15vh;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3d0735e2;
  padding: 20px;
  border: 1px solid #d833ac4b;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(54, 2, 46, 0.879);
  display: none;
  animation: slideDown 1s ease-out forwards;
}

#loginPopup.visible {
  display: block;
}

/* #loginPopup.hidden {
  display: none;
  animation: slideUp 1s ease-out forwards;
} */

@keyframes slideUp {
  0% {
    top: 20%;
  }

  100% {
    top: -100%;
  }
}

#loginPopup h2 {
  font-family: "Micro 5", sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  color: #ff69b4;
  text-shadow: 0 2px 5px rgba(54, 2, 46, 0.879);
}

#loginForm label,
#loginForm input {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0.5vw;
}


#loginPopup label {
  font-family: "Jersey 25 Charted", sans-serif;
  box-shadow: 0 2px 5px rgba(54, 2, 46, 0.879);
  font-weight: 400;
  font-style: normal;
  color: #ff69b4;
  /* Neon pink color */
  padding-right: 1px;
  margin-left: 0%;
}

#loginPopup input[type="text"],
#loginPopup input[type="password"] {
  font-family: "Chakra Petch", sans-serif;
  box-shadow: 0 2px 5px rgba(54, 2, 46, 0.879);
  border: 1px solid #ff69b4;
  /* Pink border */
  background-color: transparent;
  /* Transparent background */
  color: #ff69b4;
  /* Text color same as border */
  padding: 5px;
  height: 10px;
  margin-right: 10px;
  /* Add space to the right of input fields */
}

#loginPopup button {
  font-family: "Micro 5", sans-serif;
  font-size: small;
  background-color: #ff69b4;
  /* Pink background */
  border: none;
  /* No border */
  border-color: #981847;
  border-radius: 1px;
  color: white;
  /* White text */
  padding: 0.5px 20px;
  /* Padding */
  text-align: center;
  /* Centered text */
  text-decoration: none;
  /* No underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#loginPopup button:hover {
  background-color: #780a41;
}

#loginPopup a {
  color: #ff69b4;
  /* Pink color */
  text-decoration: none;
  /* No underline */
}

#loginPopup a:hover {
  color: #c71585;
  /* Dark pink color on hover */
}

#message {
  font-family: "Micro 5", sans-serif;
  color: #ff69b4;
  /* Pink color */
  position: absolute;
  /* Absolute positioning relative to the popup */
  top: 20px;
  /* Position from the top */
  right: 30px;
  /* Position from the right */
  font-size: 1.2em;
  /* Adjust size as needed */
}

.loginForm {
  max-width: 80%;
  display: flex;
  justify-content: center;
  /* Other styles */
}


.link-container {
  font-family: "Chakra Petch", sans-serif;
  font-size: 0.6em;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 3px;
  padding-top: 14px;
}

.grow-hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

.small-hover {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.shadow-glow-hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff77aa, 0 0 40px #ff77aa;
}

.color-change-hover {
  color: #981847;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #130015;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory;
  /* Enable snapping to game divs */
  white-space: nowrap;
  /* Prevent content from wrapping */
}


.profile-section {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Align items to the right */
  width: 95%;
  /* Take up full width of the container */
  padding: 0 2vw;
  /* Add some padding on the sides */
}

.level,
.separator,
.username {
  margin-left: 1em;
  font-family: "Micro 5", sans-serif;
}

.separator {
  color: rgba(226, 47, 214, 0.8);
  margin: 0 0.5em;
}



.profile-section img {
  display: block;
  /* Make entire image clickable */
  width: 0.01em;
  height: 0.01em;
  border-radius: 50%;
  overflow: hidden;
  width: auto;
  height: 2.3em;
  /* Ensure image fills the container */
  object-fit: cover;
  /* Crop image if necessary */
}


.logout-button {
  font-size: 1em;
  margin-left: 1em;
  position: absolute;
  top: 2em;
  left: 1em;
  color: #ffd0e1;
  font-family: "Micro 5", sans-serif;
  background-color: rgba(250, 100, 162, 0.29);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: pink;
  color: rgba(86, 5, 50, 0.749);
}

.logout-button:click {
  background-color: rgb(255, 0, 43);
  color: rgba(86, 5, 50, 0.749);
}